@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}




body {
  color: rgb(var(--foreground-rgb));
  background: #f0f0f0;
  box-sizing: border-box;
  
  /* linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
.container-m {
  max-width: 1310px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right:  auto;
  margin-left: auto;
}

.ant-pagination-item-active {
  border-color: #007784 !important; 
  background-color: #007784 !important;
  color: white;
}
.ant-pagination-item-active a {
  color: white !important;
}

.range-slider {
  height: 6px !important;
  background-color: transparent !important;
}

.range-slider .range-slider__thumb {
  width: 16px !important;
  height: 16px !important;
  background-color: #666 !important;
}

.range-slider .range-slider__range {
background-color: #666 !important;
opacity: 0.5 !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

}
